{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
	<body class = "m-0 p-0 box-border bg-gray-900 text-gray-200 font-sans cursor-default">
	{% block NavBar %}
    <div class = "">
		<div>
			<nav class="flex justify-between min-w-10 min-h-2 p-3 cursor-default px-8 border-b-2 border-indigo-300">
				<div>
					<div class="text-2xl w-[75px] text-orange-600 font-bold"><a href="/">JOBTANK</a></div>
				</div>
				<div class="hidden md:flex flex-grow justify-center items-center gap-8 font-semibold text-[16px]">
					<ul class="flex justify-center items-center font-semibold gap-8 pt-1 text-[16px]" >
						<li class="text-gray-300 hover:text-orange-600 text-lg" id="About_us"><a href="#About_us" >About Us</a></li>
						<li class="text-gray-300 hover:text-orange-600 text-lg" id="Support"><a href="/blogs">Blogs</a></li>
						<li class="text-gray-300 hover:text-orange-600 text-lg"><a href="/jobs">Jobs</a></li>
					</ul>
				</div>
				<div>
					<button class="bg-orange-600 border-orange-600 border-2 px-[16px] py-[4px] text-white text-lg rounded-md self-center  hover:bg-red-600 hover:text-gray-200 hover:font-semibold transition duration-300 ease-in-out">
						<a href="/login" >Login</a>
					</button>
				</div>
			</nav>
		</div>
    </div>
    {% endblock NavBar %}
    {% block content %}
		<div class="flex flex-col justify-center items-center min-h-screen gap-4 mx-2">
			<div class="text-center bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 bg-clip-text text-transparent font-bold text-3xl sm:text-5xl  md:text-7xl"><h1>
				Fuel Your Future. Find the Job That Fits...
			</h1></div>	 
			<div class="font-medium text-center text-gray-300 my-4 sm:text-lg md:text-xl">
				<h2>At JobTank, we connect passionate people with fair, fulfilling, and future-ready jobs. No noise. Just real opportunities.</h2>
			</div>
			<div class="flex flex-col sm:flex-row justify-center items-center gap-4 sm:flex">
				<button class="flex-1 bg-orange-600 border-orange-600 px-4 py-2 font-medium  rounded-md min-w-full  text-white text-lg hover:bg-red-600 hover:text-gray-200 transition duration-300 ease-in-out sm:text-xl">
					<a href="#">🔍 Search Jobs</a>
				</button>
				<button class="flex-1 bg-orange-600 border-orange-600 px-4 py-2 font-medium  rounded-md min-w-full  text-white text-lg  hover:bg-red-600 hover:text-gray-200 transition duration-00 ease-in-out sm:text-xl">
					<a href="">🏢 Post a Job</a>
				</button>
			</div>
		</div>

		<div class=" flex flex-col justify-center items-center min-h-screen gap-4 mx-2">
			<div>
				<h1 class="text-center bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 bg-clip-text text-transparent font-bold text-3xl sm:text-5xl  md:text-7xl" id="About_us">
					Our Mission
				</h1>
				<p class="px-16 font-medium text-justify text-gray-300 my-4 sm:text-lg md:text-xl">
					At JobTank, we believe in the power of work to transform lives. Our mission is to connect passionate people with fair, fulfilling, and future-ready jobs. We are committed to creating a world where everyone has access to meaningful employment opportunities that align with their skills and aspirations.
					We strive to empower job seekers and employers alike, fostering a community where talent meets opportunity. Our platform is designed to simplify the job search process, making it easier for individuals to find jobs that match their skills and interests. We are dedicated to providing a seamless experience for both job seekers and employers, ensuring that every connection made through JobTank is a step towards a brighter future.
				</p>
			</div>
			<div class="bg-gray-900 border-2 border-x-inherit rounded-xl mt-10 shadow-md w-[80%] py-24 sm:py-32">
				<div class="mx-auto max-w-7xl px-6 lg:px-8">
				  <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
					<div class="mx-auto flex max-w-xs flex-col gap-y-4">
					  <dt class="text-base/7 text-orange-600">Salary benefiting our users</dt>
					  <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600 sm:text-5xl">$44 million</dd>
					</div>
					<div class="mx-auto flex max-w-xs flex-col gap-y-4">
					  <dt class="text-base/7 text-orange-600">Current job market</dt>
					  <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600 sm:text-5xl">$119 trillion</dd>
					</div>
					<div class="mx-auto flex max-w-xs flex-col gap-y-4">
					  <dt class="text-base/7 text-orange-600">New users annually</dt>
					  <dd class="order-first text-3xl font-semibold tracking-tight text-orange-600 sm:text-5xl">46,000</dd>
					</div>
				  </dl>
				</div>
			  </div>

			  <div>
				<div class="bg-gray-300 rounded-lg my-10 py-24 sm:py-10 sm:px-24">
				  <div class="mx-auto max-w-7xl px-6 lg:px-8">
					<h2 class="text-center text-lg/8 font-semibold text-gray-900">Trusted by the world’s most innovative teams</h2>
					<div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
					  <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindcss.com/plus-assets/img/logos/158x48/transistor-logo-gray-900.svg" alt="Transistor" width="158" height="48">
					  <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindcss.com/plus-assets/img/logos/158x48/reform-logo-gray-900.svg" alt="Reform" width="158" height="48">
					  <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindcss.com/plus-assets/img/logos/158x48/tuple-logo-gray-900.svg" alt="Tuple" width="158" height="48">
					  <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="https://tailwindcss.com/plus-assets/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal" width="158" height="48">
					  <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="https://tailwindcss.com/plus-assets/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic" width="158" height="48">
					</div>
				  </div>
				</div>
			   
			
		</div>

		{% comment %} testimonials {% endcomment %}
		<h3 class="text-center bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 bg-clip-text text-transparent font-bold text-3xl sm:text-5xl  md:text-7xl">Testimonal</h3>
		<section class=" relative isolate overflow-hidden bg-gray-900 px-6 py-10 sm:py-10 sm-px-16 lg:px-36">
			<div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,var(--color-indigo-100),gray-200)] opacity-20"></div>
			<div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-gray-900 ring-1 shadow-xl shadow-gray-600/10 ring-gray-800-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
			<div class="mx-auto max-w-2xl lg:max-w-4xl">
			  <img class="mx-auto h-12" src="https://tailwindcss.com/plus-assets/img/logos/workcation-logo-indigo-600.svg" alt="">
			  <figure class="mt-10">
				<blockquote class="text-center text-xl/8 font-semibold text-gray-200 sm:text-2xl/9">
				  <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum sed rerum et corporis.”</p>
				</blockquote>
				<figcaption class="mt-10">
				  <img class="mx-auto size-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
				  <div class="mt-4 flex items-center justify-center space-x-3 text-base">
					<div class="font-semibold text-gray-200">Judith Black</div>
					<svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
					  <circle cx="1" cy="1" r="1" />
					</svg>
					<div class="text-gray-200">CEO of Workcation</div>
				  </div>
				</figcaption>
			  </figure>
			</div>
		  </section>
		  
    {% endblock content %}
	{% block footer %}
	<footer class="bg-white py-32 dark:bg-transparent">
		<div class="mx-auto max-w-5xl px-6">	
			<div class="my-8 flex flex-wrap justify-center gap-6 text-sm">
				<a href="#" class="text-body block hover:text-title">
					<span>Features</span>
				</a>
				<a href="#" class="text-body block hover:text-title">
					<span>Solution</span>
				</a>
				<a href="#" class="text-body block hover:text-title">
					<span>Customers</span>
				</a>
				<a href="#" class="text-body block hover:text-title">
					<span>Pricing</span>
				</a>
				<a href="#" class="text-body block hover:text-title">
					<span>Help</span>
				</a>
				<a href="#" class="text-body block hover:text-title">
					<span>About</span>
				</a>
			</div>
			<div class="my-8 flex flex-wrap justify-center gap-6 text-sm">
				<a href="#" target="_blank" aria-label="X/Twitter" class="text-body block hover:text-title">
					<svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M10.488 14.651L15.25 21h7l-7.858-10.478L20.93 3h-2.65l-5.117 5.886L8.75 3h-7l7.51 10.015L2.32 21h2.65zM16.25 19L5.75 5h2l10.5 14z"></path></svg>
				</a>
				<a href="#" target="_blank" aria-label="LinkedIn" class="text-body block hover:text-title">
					<svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
						><path fill="currentColor" d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"></path></svg
					>
				</a>
				<a href="#" target="_blank" aria-label="Facebook" class="text-body block hover:text-title">
					<svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"></path></svg>
				</a>
				<a href="#" target="_blank" aria-label="Threads" class="text-body block hover:text-title">
					<svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 8.505c-1.577-5.867-7-5.5-7-5.5s-7.5-.5-7.5 8.995s7.5 8.996 7.5 8.996s4.458.296 6.5-3.918c.667-1.858.5-5.573-6-5.573c0 0-3 0-3 2.5c0 .976 1 2 2.5 2s3.171-1.027 3.5-3c1-6-4.5-6.5-6-4" color="currentColor"></path></svg>
				</a>
				<a href="#" target="_blank" aria-label="Instagram" class="text-body block hover:text-title">
					<svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
						><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
						></path></svg
					>
				</a>
				<a href="#" target="_blank" aria-label="TikTok" class="text-body block hover:text-title">
					<svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48"></path></svg>
				</a>
			</div>
			<span class="text-caption block text-center text-sm">&copy 2024 Tailus UI, All rights reserved</span>
		</div>
	</footer>
	{% endblock footer %}
	</body>
	
</html>
