{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block Title %}\
    Layout
    {% endblock  %}
    {% tailwind_css %}
</head>
<body>
    {% comment %} <nav>
        <div>
            <p>Logo</p>
        </div>
        <div>
            <li>
                <ui>Home</ui>
                <ui>About</ui>
                <ui>Contact</ui>
            </li>
        </div>
        <div>
            <button>Get Started</button>
        </div>
    </nav> {% endcomment %}
    {% block Content %}
    <h1 class = ""></h1>
    {% endblock  %}
</body>
</html>